@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/mixins" as mx;
@use "../utils/functions" as fn;

.co-workers {
  grid-area: co-workers;
}

.co-workers-btn {
  display: block;
  margin: 0 auto;
}
