@use "sass:math";

@use "../lesson10/decimal" as *;
@use "../lesson10/functions" as *;

@mixin avatar($size, $circle: false) {
  width: $size;
  height: $size;

  @if $circle {
    border-radius: 50%;
  }
}

.cirlcle-avatar {
  @include avatar(150px);
}

.squere-avatar {
  @include avatar(150px, true);
}

@mixin fonts($fs, $fw: null, $lh: null, $ls: null, $align: null) {
  font-size: $fs;

  @if $fw {
    font-weight: $fw;
  }

  @if $lh == normal {
    line-height: normal;
  } @else {
    $lh: calc(strip-unit($lh) / strip-unit($fs));
    line-height: decimal-round($lh, 2);
  }

  @if $ls == normal {
    letter-spacing: normal;
  } @else {
    $ls: calc(strip-unit($ls) / strip-unit($fs));
    letter-spacing: #{decimal-round($ls, 2)}em;
  }

  @if $align {
    text-align: $align;
  }
}

.title {
  @include fonts(20px, $fw: 600, $lh: 12px, $ls: 1px, $align: center);
}
