@if index($btn-types, success) {
  .btn--success {
    background-color: #82c43c;

    &:active {
      background-color: darken($color: #82c43c, $amount: 10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: lighten($color: #82c43c, $amount: 10%);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
