.small-btn {
  color: white;
  background-color: hotpink;
  font-size: 10px;
}

p {
  background-color: red;
}

/* == END == */
body {
  min-width: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}